<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Hungry Helper</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-dark navbar-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Hungry Helper</a>
            </div>
        </nav>
        <div class="bg-img">
            <div class="color-overlay">
              <h1 class="text-center" id="main-title"><strong>Hungry?</strong></h1>
              <h3 class="text-center" id="title-text">We can help you out! Just enter in any criteria you have and we'll find a recipe just for you!</h3>
            </div>
        </div>
        <div class="container">
          <div class="jumbotron form">
<form method="POST">
      <div class="row">
          
          <div class="col col-xl-3">
                        <div class="col">
<h3>Ingredients</h3>
                            <div id="ingredients">
                                <input name="ingredients">
                            </div>
                            <button type="button" class="btn btn-dark" id="add-ingredient">Add Ingredient</button>
                        </div>
                        <div class="col">
                            <h3>Restrictions</h3>
                            <div id="restrictions">
                                <input name="restrictions">
                            </div>
                            <button type="button" class="btn btn-dark" id="add-restriction">Add Restriction</button>
                        </div>
      </div>
          <div class="col-xl-3">
            <table width="200" border="1">
              <tbody>
                <tr>
                  <td><strong>Recipe:</strong></td>
                  <td><h5 class="col">{{name}}</h5></td>
                </tr>
                <tr>
                  <td><strong> Calories:</strong></td>
                  <td><h5 class="col">{{calories}}</h5></td>
                </tr>
              </tbody>
            </table>
          &nbsp;</div>
</form>
<div id="like-button-container"></div>
            </div>
<button type="submit" class="btn btn-dark">Search</button>
</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename = 'index.js') }}"></script>
    </body>
</html>
